.award-area{
    margin-top: 100px;
}

section.card {
    /* background: #f6f6f6; */
    border-radius: 24px 24px 24px 48px;
    padding: 48px 48px 48px 445px;
    margin: 84px 0;
    width: 60vw;
    max-width: 920px;
    min-width: 640px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    position: relative;
    box-shadow: 0px 0px 10px 6px #0001;
    border-radius: 5px!important;
    border: none;
    height: 290px;
  }
  section.card .text-content {
    display: flex;
    flex-direction: column;
    width: calc(60vw - 192px);
  }
  section.card .text-content h3 {
    margin: 0;
    font-size: 1.5em;
    max-width: 20ch;
  }
  section.card .text-content p {
    margin: 16px 0 24px;
    max-width: 36ch;
  }
  section.card .text-content a {
    border: 3px solid #000;
    color: #000;
    align-self: flex-start;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 12px;
    transition: 400ms all;
  }
  section.card .text-content a:hover {
    background: #000;
    color: white;
  }
  section.card .visual {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 0px;
    /* box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.25), 2px 6px 12px rgba(0, 0, 0, 0.25); */
  }
  section.card .visual img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  section.card:nth-of-type(odd) {
    margin: 0 0 0 248px;
    border-radius: 24px 24px 48px 24px;
    padding: 48px 308px 48px 60px;
  }
  section.card:nth-of-type(odd) .visual {
    right: 0px;
    left: auto;
  }
  section.card:nth-of-type(odd) .text-content a {
    align-self: flex-start;
  }
  article {
    margin: auto;
    display: block;
    width: calc(60vw + 248px);
    max-width: calc(920px + 248px);
    min-width: calc(640px + 248px);
  }
  @media (max-width: 1100px) {
    article {
      width: 100%;
      max-width: 100%;
      /* min-width: 100%; */
    }
    section.card {
      width: 100%;
      max-width: 100%;
      /* min-width: 100%; */
    }
    section.card .text-content {
      width: 100%;
    }
    section.card:nth-of-type(odd) {
      margin: 0px;
    }
  }
  @media all and (max-width: 720px) {
    /* body {
      padding: 48px 24px 0;
    } */
    section.card {
      margin: 64px 0;
      padding: 88px 36px 36px;
      flex-direction: column;
      border-radius: 24px;
    }
    section.card:nth-of-type(odd) {
      padding: 88px 36px 36px;
      border-radius: 24px;
    }
    section.card .text-content h3 {
      max-width: calc(100% - 150px);
      font-size: 1em;
    }
    section.card .text-content p,
    section.card .text-content a {
      font-size: 0.8em;
    }
    section.card .visual,
    section.card:nth-of-type(odd) .visual {
      width: 150px;
      height: 150px;
      right: 16px;
      left: auto;
    }
    section.card .visual img,
    section.card:nth-of-type(odd) .visual img {
      width: 100%;
      height: auto;
    }
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

  .awards-date{
    color: #0006;
    text-decoration: underline;
  }




  /* awards gallery screen deisgn starts */
  .gallery {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 100px;
}

.gallery-item {
    flex: 1 1 calc(33% - 20px);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    opacity: 0.6;
}

.gallery-item:hover {
    transform: scale(1.02);
}

.gallery-item:hover img {
    opacity: 1;
}

.award-modal .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.award-modal .modal-content {
    display: flex;
    margin: auto;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);

}

.award-modal .modal-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.award-modal .modal-left img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.award-modal .modal-right {
    margin-left: 20px;
    padding:0 2em;
    width: 40%;
}

.award-modal .modal-right p {
    margin: 0;
}

.award-modal .close {
    position: absolute;
    top: 150px;
    right: 100px;
    font-size: 40px;
    /* font-weight: bold; */
    color: white;
    cursor: pointer;
    z-index: 99;
}

/* .nav-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: #555;
} */

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }

    .award-modal .modal-content {
        flex-direction: column;
    }

    .award-modal .modal-right {
        margin-left: 0;
        margin-top: 20px;
        width: 80%;
        padding:0;
    }

    .award-modal .nav-btn {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
    
}

  /* awards gallery screen deisgn ends */