@import "https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;600;700;800;900&family=Rubik:wght@400;500;600;800;900&family=Allison&display=swap");
@import url("../header/header-style.css");
@import url("../footer/footer-style.css");
@import url("./home.css");
@import url("./service.css");
@import url("./about-us.css");
@import url("./contact.css");
@import url("./critical.css");
@import url("./popup-style.css");
@import url("./award.css");

:root {
    --pbmit-primary-color: #3fbc2d;
    --pbmit-primary-light-color: #eff6ef;
    --pbmit-secondary-color: #F67B01;
    --pbmit-terniary-color: #ED0395;
    --pbmit-fourth-color: #06A2D6;
    --pbmit-light-white-color: #fefefeca;
    --pbmit-white-color: #ffffff;
    --pbmit-black-color: #000000;
    --pbmit-blackish-color: #031b4e;
    --pbmit-grey-color: rgb(109, 110, 115);
    --pbmit-link-color-hover: #3368c6;
    --pbmit-primary-color-rgb: 51, 104, 198;

    /* --pbmit-body-typography-font-family: 'Roboto', sans-serif; */
    --pbmit-body-typography-font-family: "Noto Serif", serif;
    --pbmit-body-typography-variant: regular;
    --pbmit-body-typography-font-size: 16px;
    --pbmit-body-typography-line-height: 1.5;
    --pbmit-body-typography-color: #6e778c;

    --pbmit-heading-typography-font-family: 'Sora', sans-serif;
    --pbmit-heading-font-variant: 500;
    --font-family-Manrope: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--pbmit-body-typography-font-family);
}

a {
    text-decoration: none;
    color: var(--pbmit-white-color);
}

ul {
    margin: 0;
    padding: 0;
}
p {
    line-height: 25px;
}
ol li{
    list-style: inherit;
}
li,
#top-header li,
.hedear li {
    list-style: none;
}

.swiper {
    width: 100%;
    /* height: 700px; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--pbmit-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_icon{
    display: none;
}


